$brand-color: #00DF5E;
$support-01: #2962FF;
$support-02: #0bb07b;
$support-03: #ffce52;
$support-04: #f03d3d;
$support-05: #E0E0E0;


$dark-10: #171717;
$dark-20: #212121;
$dark-30: #333333;
$dark-40: #828282;
;