@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family:  sans-serif;
    letter-spacing: 1px;
    background-color: #f9f9f9;
    color: #333;
}

.chakra-timeline__separator {
    width: 1.5px;
    background-color: #000000;
}