header {
  color: $support-05;
  min-width: 100%;
}

.header {
  width: auto;
  height: 5rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
}

.nav-itens {
  display: flex;
  gap: 2rem;


  & a {
    text-decoration: none;
    color: $support-05;
  }

  & a:hover {
    color: $brand-color;
    text-decoration: underline;
    transition: 1.3s;

  }
}

a {
  text-decoration: none;
}

.first-apresent {
  display: flex;
  justify-content: space-evenly;
  margin: 6rem 0;

  & h1 {
    font-weight: 700;
    font-size: 2rem;
  }

}

.prev-apresent {
  font-weight: 600;
  color: $support-05;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  height: auto;


  & p {
    color: $dark-40;
  }


  & a {
    padding: 1rem;
    border-radius: .3rem;
    background-color: transparent;
    color: $support-05;
  }



  & .contact {
    padding: 1rem;
    border-radius: .3rem;
    background-color: transparent;
    color: $support-05;
    border: 1px solid $dark-40;


  }
}

.buttons-apresent {
  display: flex;
  gap: 1rem;

  & .download {
    border: none;
    color: $dark-30;
    background-color: $brand-color;
  }



}

.about-me {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  & .about {
    width: 745px;
    height: 160px;
    font-weight: 400;
    line-height: 32px;
    color: $dark-40;
    text-align: center;
    font-size: 18px;
  }
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

.title-about-me {
  font-weight: 700;
  font-size: 2rem;
  color: $support-05;
}


.container-icons {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  margin-bottom: 10rem;

  & img {
    width: 2.7rem;
  }

  & .icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & h2 {
      color: $support-05;
      font-weight: 700;
      letter-spacing: 0em;
      text-align: left;

    }

    & p {
      color: $dark-40;
      font-weight: 400;
    }

    a {
      color: $dark-40;
    }
  }

}

.title-about-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  & h3 {
    margin-bottom: 4rem;
    font-size: 28px;
    font-weight: 700;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem;
  flex-wrap: wrap;
}



.container-project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;

}


.card {
  padding: 1rem;
  background-color: $dark-30;
  width: 350px;
  height: 200px;
  border: 1px solid $dark-40;
}

.card {
  display: flex;
  justify-content: end;
  gap: 10px;
  flex-direction: column;
  padding: 1.5rem;

  & h5 {
    background-color: $dark-30;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-decoration: underline;
    text-align: left;
    color: $support-05;

  }

  & p {
    background-color: $dark-30;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: $dark-40;
  }

  & img {
    width: 100%;
    height: 154px;
    border-radius: 1rem;
  }

  & a {
    border: none;
  }
}

.my-skills {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;

}

.title-my-skills {
  background-color: $dark-30;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: $support-05;
}



.container-skill {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 10rem;


  & .skill {
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    background: $dark-20;

    & img {
      background: $dark-20 ;
      width: 80px;
      height: 80px;
      padding: 0px 5px;

    }
  }


}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: $dark-30;

  & p {
    background-color: $dark-30;
    color: $support-05;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
  }

  & a {
    color: $brand-color;
    background-color: $dark-30;
    font-weight: 500;
  }
}

.contact:hover {
  transition: 1.5s;
  background-color: $support-05;
  border: 1px solid $dark-30 ;

  & a {
    color: $dark-10;
    transition: 1.5s;
  }

}


.download a:hover {
  border: 100px solid $support-05;
}

.download:hover {
  color: $support-05;
  transition: 1s;
}

@media (max-width: 1450px) {

  .cards {

    grid-template-columns: repeat(2, 1fr);

  }
}

@media (max-width: 1154px) {

  .container-skill {
    flex-wrap: wrap;
  }

}

@media (max-width: 1024px) {

  .container-icons {

    flex-wrap: wrap;

  }

  .header {
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
  }

}

@media (max-width: 880px) {
  .cards {

    grid-template-columns: repeat(1, 1fr);

  }

  .container-skill {
    flex-wrap: wrap;
  }

  .image-apresent {
    display: none;
  }
}

@media (max-width: 768px) {
  .container-icons {
    padding: 13px;
  }

  .about-me {
    & .about {
      width: 400px;
      height: 140px;

      font-size: 16px;

    }
  }
}